.collect-all {
  background-color: #f5fbfd;
  height: 100vh;
  overflow-y: hidden;
}

.main-content1 {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  width: 1200px;
}
.collect1 {
  width: 250px;
  height: 600px;
  margin: 0px 20px;
}
.collect2 {
  width: 250px;
  height: 600px;
  margin: 0px 20px;
}

.collect3 {
  width: 250px;
  height: 600px;
  margin: 0px 20px;
}

.collect4 {
  width: 250px;
  height: 600px;
  margin: 0px 20px;
}
.collect1 img {
  width: 240px;
  height: 400px;
  margin-top: 20px;
}
.collect2 img {
  width: 240px;
  height: 400px;
  margin-top: 20px;
}
.collect3 img {
  width: 240px;
  height: 400px;
  margin-top: 20px;
}
.collect4 img {
  width: 240px;
  height: 400px;
  margin-top: 20px;
}
.collect-content {
  margin-top: 5px;
}
.collect-footer img {
  width: 30px;
  height: 30px;
}
.collect-footer {
  display: flex;
}
.publish-person {
  margin-top: 30px;
  margin-left: 10px;
}
.like {
  margin-top: 30px;
  margin-left: 40px;
}
